<div class="g_6 contents_options">
    <div class="simple_buttons">
        <div class="bwIcon i_16_add" onclick="addroomlist()">添加聊天室</div>
    </div>
</div>
<div class="g_12">
    <div class="widget_header wwOptions">
        <h4 class="widget_header_title wwIcon i_16_data">聊天室列表</h4>
        <div class="w_Options i_16_settings">
            <!-- Drop Menu -->
            <ul class="drop_menu menu_with_icons right_direction">
                <li>
                    <a class="i_16_add" href="#" title="New Flie">
                        <span class="label">New File</span>
                    </a>
                </li>
                <li>
                    <a class="i_16_progress" href="#" title="2 Files Left">
                        <span class="label">Files Left</span>
                        <span class="small_count">2</span>
                    </a>
                </li>
                <li>
                    <a class="i_16_files" href="#" title="Browse Files">
                        <span class="label">Browse Files</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="widget_contents noPadding">
<!--        这个地方的数据能够自行分页-->
        <table class="datatable tables">
            <thead>
            <tr><th>头像</th><th>名称</th><th>容量</th><th>主题</th><th>创建时间</th><th>最后修改</th><th>状态</th><th>操作</th>
            </tr>
            </thead>
            <tbody id="roomdata">


                {{#each roomdata}}
            <tr>
                <td><img src="{{this.photoUrl}}" style="max-height: 60px;max-width: 60px;"></td>
                <td>{{this.name}}</td>
                <td>{{this.maxSize}}</td>
                <td>{{this.subject}}</td>
                <td>{{this.createTime}}</td><td>{{this.updateTime}}</td>
                <td>
                    {{#if this.isEnalbe}}
                        <span style="color: green">可用</span>
                    {{else}}
                        <span style="color: red">已禁用</span>
                    {{/if}}
                </td>
                <td><a class="edit-room"  href="/admin/editroom?id={{this._id}}">编辑</a></td>
            </tr>  {{/each}}
            </tbody>
        </table>
    </div>

</div>
<script>

    $(".edit-room").onclick(function (e) {
        $.ajax({
            type: "POST",
            url: "",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            data: { },
            dataType: "json",
            success: function(data){
                $.ajax({
                    type: "POST",
                    url: "/admin/editroom",
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                    data: {_id:$(this).data('id')},
                    dataType: "json",
                    success: function (data) {

                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            error:function(e){
                console.log(e);
            }
        });
    });


    function  addroomlist() {
        // var d = dialog({
        //     content: 'Hello World!',
        //     quickClose: true// 点击空白处快速关闭
        // });
        // d.show(document.getElementById('quickref-bubble'));
        var d =   dialog({
            id:"add_room_dialog",
            lock:true,
            title:"添加聊天室",
            padding: 5,

            width:500,
            height:300,
            content:$("#add_room").html()
        });d.showModal();


    }
</script>
<style>

</style>
    <div id="add_room" style="display: none" >
        <form action="/admin/addroom" style="width: 450px" method="post" enctype="multipart/form-data">
            <div class="line_grid">
                <div class="g_3"><span class="label">名称</span></div>
                <div class="g_9">
                    <input type="text" name="roomname" class="simple_field date_mask"/>
                </div>
                <div class="g_3"><span class="label">最大人数</span></div>
                <div class="g_9">
                    <input type="number" step="1" name="roommaxsize" min="1" pattern="请输入最大人数" class="simple_field date_mask"/>
                </div>
                <div class="g_3"><span class="label">主题</span></div>
                <div class="g_9">
                    <textarea type="text" name="roomsubject" class="simple_field date_mask" style="min-height: 60px;"> </textarea>
                </div>
                <div class="g_3"><span class="label">头像</span></div>
                <div class="g_9">
                    <input type="file" name="roomphoto" id='roomphoto'   class="simple_field date_mask"/>
                </div>

                <input type="submit" value="添加聊天室" class="simple_buttons submitIt" style="margin-left:200px;">

            </div>




</form>
    </div>
